<header>
  <div class="container-h">
    <div class="left">
      <p>MO</p>
    </div>

    <div class="right">
      <ul>
        <li><a class="home" routerLink="/home"><mat-icon>home</mat-icon>Home</a></li>
        <li><a class="about" routerLink="/home" fragment="about"><mat-icon>account_circle</mat-icon>Chi sono</a></li>
        <li><a class="project" routerLink="/home" fragment="project"><mat-icon>work</mat-icon>Progetti</a></li>
        <li><a class="contact" routerLink="/home" fragment="contact"><mat-icon>contacts</mat-icon>Contatti</a></li>
        <li *ngIf="!attivo">
          <a class="menu">
            <mat-icon (click)="openDialog()">menu</mat-icon>
          </a>
        </li>
        <li *ngIf="attivo" class="close">
          <a class="close">
            <mat-icon (click)="closeDialog()">close</mat-icon>
          </a>
        </li>
      </ul>
    </div>
  </div>

  <ul *ngIf="attivo" class="dropdown-menu">
    <li><a routerLink="/home" (click)="closeDialog()"><mat-icon>home</mat-icon>Home</a></li>
    <li><a routerLink="/home" fragment="about"  (click)="closeDialog()"><mat-icon>account_circle</mat-icon>Chi sono</a></li>
    <li><a routerLink="/home" fragment="project"  (click)="closeDialog()"><mat-icon>work</mat-icon>Progetti</a></li>
    <li><a routerLink="/home" fragment="contact"  (click)="closeDialog()"><mat-icon>contacts</mat-icon>Contatti</a></li>
  </ul>
</header>

