<div class="container-top">

  <div class="container1">
    <h1>Ciao, io sono<br><br> Maria Ormeño!</h1>
  </div>

  <div class="pulsanti">
    <button mat-button class="projectBut" routerLink="/home" fragment="project">I miei progetti</button>
    <button mat-button class="contactBut" routerLink="/home" fragment="contact">Contattami</button>
  </div>
</div>

<div class="container-bottom">

  <div class="about" id="about">
    <h2>Chi sono</h2>

    <div class="container-about">

      <div class="tabs">
        <button class="tab-button" [class.active]="activeTab === 'profile'" (click)="showTab('profile')">Profilo</button>
        <button class="tab-button" [class.active]="activeTab === 'skills'" (click)="showTab('skills')">Competenze</button>
      </div>

      <!-- Tab content -->
      <div *ngIf="activeTab === 'profile'" class="tab-content">
        <div class="tab-card">
          <p>Mi chiamo Maria Geraldine Ormeño Enciso e sono laureata in Informatica. Ho recentemente concluso il mio percorso accademico, che mi ha permesso di acquisire una solida preparazione nelle tecnologie web e nello sviluppo di soluzioni digitali.</p>

          <p>La mia passione per la tecnologia, in particolare per la creazione di siti web, è nata durante gli studi universitari. Questo interesse è cresciuto grazie a diversi progetti pratici, tra cui la realizzazione di un sito web completo in autonomia, che ha consolidato le competenze teoriche e pratiche che oggi metto a disposizione in ambito professionale.</p>

          <p>Possiedo competenze in <strong>HTML5</strong>, <strong>CSS3</strong>, <strong>JavaScript</strong> e <strong>Java</strong>, con esperienza nell’utilizzo di framework front-end come <strong>Angular</strong>. Il mio obiettivo è diventare una sviluppatrice <strong>full stack</strong>.</p>

          <p>Attualmente, sono alla ricerca di opportunità professionali in cui applicare le conoscenze acquisite, contribuendo con entusiasmo e dedizione a progetti innovativi. Sono motivata ad imparare continuamente nuove tecnologie e a migliorare le mie capacità per crescere nel campo dello sviluppo web.</p>
        </div>
      </div>

      <div *ngIf="activeTab === 'skills'" class="tab-content">
        <div *ngIf="images && images.length>0" class="tab-card carousel-container">
          <img *ngFor="let image of images; let i=index"
                [src]="image.imageSrc" [alt]="image.imageAlt"
                [ngClass]="{'image-active' : selectedIndex === i}"
                class="fade">

          <div *ngIf="indicators" class="carousel-dot-container">
            <span *ngFor="let dot of images; let i = index" class="dot"
                    class="dot" [ngClass]="{'active':selectedIndex === i}"
                    (click)="selectedImage(i)">

            </span>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div *ngIf="project && project>0" class="project" id="project">
  <!-- <div class="project" id="project"> -->
    <h2>Progetti</h2>
    <div class="container-project">
      <div class="project-card">
        <img src="https://upload.wikimedia.org/wikipedia/commons/c/c9/-Insert_image_here-.svg" alt="Progetto 1" class="project-image">
        <h4>Progetto 1</h4>
        <p>Descrizione breve del progetto e delle tecnologie utilizzate.</p>
      </div>

      <div class="project-card">
        <img src="https://upload.wikimedia.org/wikipedia/commons/c/c9/-Insert_image_here-.svg" alt="Progetto 2" class="project-image">
        <h4>Progetto 2</h4>
        <p>Descrizione breve del progetto e delle tecnologie utilizzate.</p>
      </div>

      <div class="project-card">
        <img src="https://upload.wikimedia.org/wikipedia/commons/c/c9/-Insert_image_here-.svg" alt="Progetto 2" class="project-image">
        <h4>Progetto 3</h4>
        <p>Descrizione breve del progetto e delle tecnologie utilizzate.</p>
      </div>

      <div class="project-card">
        <img src="https://upload.wikimedia.org/wikipedia/commons/c/c9/-Insert_image_here-.svg" alt="Progetto 2" class="project-image">
        <h4>Progetto 4</h4>
        <p>Descrizione breve del progetto e delle tecnologie utilizzate.</p>
      </div>
    </div>
  </div>


  <div class="contact" id="contact">

    <h2>Contatti</h2>

    <div class="container-contact">

      <div class="left-column">
        <h4>Parliamo!</h4>
        <p>Sono sempre interessata a nuovi progetti e collaborazioni.</p>
        <div class="images-container">
          <button variant="outline" size="icon">
            <a href="https://github.com" >
              <img src="https://www.svgrepo.com/show/512317/github-142.svg" alt="">
            </a>
          </button>
          <button variant="outline" size="icon">
            <a href="https://linkedin.com" >
              <img src="https://www.svgrepo.com/show/494278/linkedin-round.svg" alt="">
            </a>
          </button>
          <button variant="outline" size="icon">
            <a href="geralenciso88@gmail.com">
              <img src="https://www.svgrepo.com/show/353196/mail-with-circle.svg" alt="">
            </a>
          </button>
        </div>
      </div>

      <div class="right-column">
        <div class="container-email">
          <input class="email" type="email" placeholder="La tua email">
          <textarea class="message" placeholder="Il tuo messaggio"></textarea>
          <button class="send">Invia Messaggio</button>
        </div>
      </div>
    </div>
  </div>

</div>


