<footer>
  <div class="container-footer">
    <div class="left-column">
      <p>Maria Ormeño</p>

      <div class="images-container">
        <button variant="outline" size="icon">
          <a href="https://github.com/ormenog?tab=repositories" >
            <img src="https://www.svgrepo.com/show/512317/github-142.svg" alt="">
          </a>
        </button>
        <button variant="outline" size="icon">
          <a href="https://linkedin.com" >
            <img src="https://www.svgrepo.com/show/494278/linkedin-round.svg" alt="">
          </a>
        </button>
        <button variant="outline" size="icon">
          <a href="geralenciso88@gmail.com">
            <img src="https://www.svgrepo.com/show/353196/mail-with-circle.svg" alt="">
          </a>
        </button>
      </div>
      
    </div>

    <div class="right-column">
      <p>Collegamenti rapidi</p>
      <ul>
        <li><a routerLink="/home">Home</a></li>
        <li><a routerLink="/home" fragment="about" >Chi sono</a></li>
        <li><a routerLink="/home" fragment="project" >Progetti</a></li>
        <li><a routerLink="/home" fragment="contact" >Contatti</a></li>
      </ul>
    </div>

    <div class="diritti">
      <p>© 2024 Maria Ormeno. Tutti i diritti riservati.</p>
    </div>
  </div>
</footer>
